@tailwind base;
@tailwind components;
@tailwind utilities;

/* #welcome-image {
    position: relative;
}

#welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */